<section data-robot-code="<%= data.robotCode %>" data-robot-name="<%= data.robotName %>" class="neopixels">
    <div class="neopixels__contianer">
        <h3 class="neopixels__title">Neopixels of <%= data.robotName %>:
        </h3>
        <ul id="neopixelsList__<%= data.robotCode %>" class="neopixels__list list">
            <% for (let i=0; i < 4; i++) {%>
                <li class="neopixels__item" data-neopixel="<%= i%>">
                    <div class="neopixels__led"
                        style="background-color: rgb(<%= data.sensorsNeopixels[i].r%>, <%= data.sensorsNeopixels[i].g%>, <%= data.sensorsNeopixels[i].b%>)">
                    </div>
                </li>
                <% }; %>
        </ul>
    </div>
</section>