<section data-robot-code="<%= data.robotCode %>" data-robot-name="<%= data.robotName %>" class="sonar">
    <div class="sonar__contianer">
        <h3 class="sonar__title title">Sonar of <%= data.robotName %>:
        </h3>
        <ul id="sonarList__<%= data.robotCode %>" class="sonar__list list">
            <% for (let i=0; i < data.sensorsSonar.length; i++) {%>
                <li class="sonar__item" data-sonar-direction="<%= data.sensorsSonar[i]['direction'] %>">

                    <p class="sonar__value text">
                        <%= data.sensorsSonar[i]["sonarDistance"]%>
                    </p>
                    <% if (data.sensorsSonar[i]['direction']==0) { %>
                        <p class="sonar__direction text">Center</p>

                        <% } else if (data.sensorsSonar[i]['direction']==1) { %>
                            <p class="sonar__direction text">Right</p>

                            <% } else if (data.sensorsSonar[i]['direction']==2) { %>
                                <p class="sonar__direction text">Left</p>
                                <% } %>
                </li>
                <% }; %>
        </ul>
    </div>
</section>